$main-menu-font : "Alternate Got No 3 D", sans-serif;

$common-text-font: "Akzidenz Grotesk BE", sans-serif;

$title-text-font: "Alternate Got No 1 D", sans-serif;

$body-background-color: #0f1318;

$article-text-color: #b5cbd1;